apiVersion: 1
datasources:
  - name: SIMON-Postgres
    uid: simon-pg
    type: grafana-postgresql-datasource
    access: proxy
    url: 127.0.0.1:5432
    user: grafana_ro
    jsonData:
      database: monitoreo
      sslmode: disable
      postgresVersion: 1500
      timescaledb: false
    secureJsonData:
      password: "__GRAFANA_RO_PW__"
    isDefault: true
    editable: false
